.DS_Store
node_modules
*.log
build
archive
.vscode
.idea
.npmrc
dist
dist-cli
.DS_Store

/remarks*.json
/dump-*.json
/consolidated-*.json
throwaway.js
coverage
metadata-images
latestdump.json
/processed-*
