name: Tests CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run unit tests
        uses: actions/setup-node@v1
        with:
          node-version: '18'
      - run: yarn install
      - run: yarn test:2.0.0


